{% extends 'base.html' %}

{% block title %}パスワードリセット | Private Diary{% endblock %}

{% block contents %}

<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>{% if token_fail %}不正トークン{% else %}パスワードリセット</h1>
            {% if token_fail %}
                {% url 'account_reset_password' as password_reset_url %}
                <p>このパスワードリセット用のリンクは無効になっています。<a href="{ passwd_reset_url }">パスワードリセット再申請</a></p>
            {% else %}
                {% if form %}
                    <form action="{{ action_url }}" method="post"></form>
                        {% csrf_token %}
                        {{ form.as_p }}
            <form action="{% url 'account_reset_password' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">変更</button>
            </form>
            {% else %}
                <p>パスワードは変更されました。</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}